@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #2f3c80;
  font-size: 16px;
}

.section {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: #2f3c80;
}

.hero-detail {
  padding: 70px 0;
  background: rgb(88, 114, 246);
  background: linear-gradient(
    171deg,
    rgba(88, 114, 246, 1) 0%,
    rgba(37, 46, 96, 1) 100%
  );
  .konten-hero-detail {
    color: #ffffff;
    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      margin: 1.7rem 0;
      font-weight: 300;
    }
    .rating-kelas {
      margin-bottom: 1rem;
      p {
        display: inline;
        margin-left: 10px;
      }
      h5 {
        font-size: 24px;
        font-weight: 700;
      }
    }
    .instruktur-profil-detail-hero {
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
      }
    }
  }
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    .breadcrumb-item {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      a {
        color: #ffffff;
        font-weight: 300;
      }
      &::before {
        color: #ffffff;
      }
    }
  }
}
