<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style/aboutKonten/aboutKonten.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="section">
      <div class="container about-konten">
        <h2 class="title mb-5">Tentang Ekselen.id</h2>
        <div class="row konten">
          <div class="col-6">
            <img src="../assets/images/about1.png" alt="" />
          </div>
          <div class="col-6">
            <p>
              Ekselen.id adalah lembaga penyedia pelatihan dan pembelajaran
              secara digital yang memiliki fokus untuk mencetak Sumber Daya
              Manusia Indonesia yang kompeten melalui pelatihan digital
              berkualitas, yang dapat diakses siapapun, kapanpun, dan dimanapun.
              Melalui Ekselen.id, kami berharap pelatihan berkualitas dapat
              diakses seluas-luasnya.
            </p>
            <p>
              Ekselen.id ditujukan untuk Anda yang ingin mengembangkan karir dan
              kompetensi Anda saat ini, mengubah haluan karir, atau mendukung
              karir impian Anda yang lainnya. Kami berkomitmen untuk menyediakan
              program pelatihan terkini yang sesuai dengan kebutuhan dunia
              kerja, serta menyediakan Trainer terbaik dan berkualitas. Dengan
              ini, kami berharap dapat menghasilkan sumber daya manusia yang
              terampil dan profesional.
            </p>
          </div>
        </div>
        <div class="row konten">
          <div class="col-6">
            <p class="text-right">
              Metode pelatihan di Ekselen.id dikembangkan menyesuaikan pada
              kebutuhan dunia kerja dan kondisi terkini, baik dari sisi
              kurikulum, materi yang diajarkan, serta teknologi yang digunakan.
              Dengan melalui video berkualitas yang disajikan dalam durasi
              singkat dan jelas, maupun secara langsung dalam bentuk webinar,
              sehingga Anda akan dapat belajar secara sistematis dan fokus.
              Selain video, konten pelatihan juga didukung dengan evaluasi dan
              games sehingga membuat pengalaman belajar lebih menarik.
            </p>
            <p class="text-right">
              Ekselen.id dikembangkan oleh PT. Robere Manajemen Indonesia. Kami
              lahir dari sebuah keyakinan bahwa pelatihan seharusnya dapat
              diakses seluas-luasnya untuk meningkatkan kompetensi Sumber Daya
              Manusia Indonesia. Kami juga meyakini bahwa kita semua perlu
              pendekatan baru dalam belajar untuk meningkatkan kualitas dan daya
              saing diri kita masing-masing. Di Ekselen.id, pendekatan kami
              membuat pelatihan dapat dilakukan secara lebih efisien, dapat
              diakses kapanpun dibutuhkan, dan biaya yang terjangkau.
            </p>
          </div>
          <div class="col-6">
            <img src="../assets/images/about2.png" alt="" />
          </div>
        </div>
        <h2 class="title-benefit-about">
          Bangun Karir <span>Bersama Ekselen.id</span>
        </h2>
        <div class="row benefit-about">
          <div class="col-4 konten-benefit">
            <img
              src="../assets/images/benefit-icon1.png"
              alt=""
              class="benefit-icon"
            />
            <h4>Pelatihan Bersertifikat</h4>
            <p>
              Temukan beragam pilihan konten dan topik pelatihan serta
              pembelajaran terbaik, yang diajarkan oleh berbagai Lembaga serta
              Trainer yang profesional
            </p>
          </div>
          <div class="col-4 konten-benefit">
            <img
              src="../assets/images/benefit-icon2.png"
              alt=""
              class="benefit-icon"
            />
            <h4>Beragam Konten Pilihan</h4>
            <p>
              Tersedia sertifikat bagi Anda yang telah menyelesaikan pelatihan
              yang dapat diakses dengan mudah dan dapat digunakan sesuai
              kebutuhan Anda
            </p>
          </div>
          <div class="col-4 konten-benefit">
            <img
              src="../assets/images/benefit-icon3.png"
              alt=""
              class="benefit-icon"
            />
            <h4>Career Ready Program</h4>
            <p>
              Dapatkan akses materi pelatihan yang sesuai dengan kebutuhan dunia
              kerja saat ini untuk mendukung karir impian Anda
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="./js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
