<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/editProfil/editProfil.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="section">
      <div class="container edit-profil">
        <div class="card-profil">
          <h3 class="title-profil">Edit Profil</h3>
          <div class="button-profil">
            <button class="btn btn-profil-section">Profil</button>
            <button class="btn btn-profil-password">Password</button>
          </div>
          <div class="row mt-4">
            <div class="col-2">
              <div class="img-profil">
                <img src="../assets/images/profil-img-edit.png" alt="" />
                <button class="btn btn-change-pic" type="button">Ganti</button>
              </div>
            </div>
            <div class="col-9">
              <!-- Form Edit Profil -->
              <div class="form-edit-profil">
                <form>
                  <div class="form-group row">
                    <label class="col-3">Nama Lengkap</label>
                    <input
                      type="text"
                      class="form-control col"
                      placeholder="Nama Lengkap"
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-3">Email</label>
                    <input
                      type="email"
                      class="form-control col"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-3"> Nomor Handphone</label>
                    <input
                      type="tel"
                      class="form-control col"
                      placeholder="Nomor Handphone"
                    />
                  </div>

                  <div class="form-group row">
                    <label class="col-3">Tanggal Lahir</label>
                    <input
                      type="date"
                      class="form-control col"
                      placeholder="Tanggal Lahir"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <button class="btn btn-simpan-edit" type="button">Simpan</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="./js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
