<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/heroDetail/heroDetail.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="section hero-detail">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
        <div class="row justify-content-between">
          <div class="col">
            <div class="konten-hero-detail">
              <h3>Practice For Great UI Design</h3>
              <p>
                Tingkatkan potensi penjualan dengan User Interface yang lebih
                menarik user.
              </p>
              <div class="row rating-kelas">
                <div class="col-4 star-kelas">
                  <img src="../assets/images/ic_star.png" alt="" />
                  <img src="../assets/images/ic_star.png" alt="" />
                  <img src="../assets/images/ic_star.png" alt="" />
                  <img src="../assets/images/ic_star.png" alt="" />
                  <img src="../assets/images/ic_star.png" alt="" />
                  <p class="nilai-kelas ml-2">5.0</p>
                </div>
                <div class="col">
                  <h5>Marketing</h4>
                </div>
              </div>
              <div class="row instruktur-profil-detail-hero">
                <div class="col-1">
                  <img
                    src="../assets/images/user-profil-hero-detail.png"
                    alt=""
                  />
                </div>
                <div class="col">
                  <h4>John Doe</h4>
                  <p>Product Designer at Ekselen.id</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <img src="../assets/images/video-preview.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="./js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
