<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="../style/kontenDetailKelas/kontenDetailKelas.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="section">
      <div class="container konten-detail-kelas">
        <div class="row">
          <div class="col">
            <div class="detail-kelas">
              <h3 class="title-detail-kelas">Deskripsi</h3>
              <div class="border-title"></div>
              <p class="deskripsi-kelas">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                pharetra tortor egestas tempor dictum. Maecenas commodo, ipsum
                non posuere sollicitudin, turpis felis volutpat ligula, vitae
                auctor tortor augue in odio. Aliquam erat volutpat. Etiam sed
                felis faucibus, varius libero nec, consectetur dui. Aenean in
                ligula vestibulum, porta nibh eu, blandit turpis. Nullam
                ultrices tempor arcu ut viverra. Mauris vehicula, tortor ut
                convallis ornare, elit erat auctor purus, at tincidunt magna.
              </p>
              <h3 class="title-detail-kelas">Tentang <span>Tutor</span></h3>
              <div class="border-title"></div>
              <p class="deskripsi-kelas">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                pharetra tortor egestas tempor dictum. Maecenas commodo, ipsum
                non posuere sollicitudin, turpis felis volutpat ligula, vitae
                auctor tortor augue in odio. Aliquam erat volutpat.
              </p>
              <div class="list-materi-kelas">
                <h3 class="title-detail-kelas">Materi <span>Kelas</span></h3>
                <div class="border-title"></div>
                <div class="list-kelas">
                  <button class="btn btn-materi-kelas" type="button">
                    Pendahuluan
                  </button>
                  <button class="btn btn-materi-kelas" type="button">
                    Materi II
                  </button>
                  <button class="btn btn-materi-kelas" type="button">
                    Materi III
                  </button>
                </div>
              </div>
              <div class="review-kelas">
                <h3 class="title-detail-kelas">Review <span>Kelas</span></h3>
                <div class="border-title"></div>
                <div class="row align-items-center">
                  <div class="col-3 profil-review-kelas">
                    <img
                      src="../assets/images/review-img.png"
                      alt=""
                      class="img-review-kelas"
                    />
                    <div class="profil-info-review-kelas">
                      <h5>Jane Doe</h5>
                      <p>1 Juli 2020</p>
                    </div>
                  </div>
                  <div class="col review-testimoni">
                    <p>“Materi sangat mudah untuk dimengerti”</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-3 profil-review-kelas">
                    <img
                      src="../assets/images/review-img.png"
                      alt=""
                      class="img-review-kelas"
                    />
                    <div class="profil-info-review-kelas">
                      <h5>Jane Doe</h5>
                      <p>1 Juli 2020</p>
                    </div>
                  </div>
                  <div class="col review-testimoni">
                    <p>“Materi sangat mudah untuk dimengerti”</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card-detail-kelas">
              <div class="benefit-card-info">
                <h5 class="card-title">
                  Yang kamu dapat saat mengikuti kelas ini
                </h5>
                <div class="benefit-icon">
                  <img src="../assets/images/benefit-detail-card1.png" alt="" />
                  <p>Sertifikat</p>
                </div>
                <div class="benefit-icon">
                  <img src="../assets/images/benefit-detail-card2.png" alt="" />
                  <p>Akses Kelas Selamanya</p>
                </div>
              </div>
              <div class="benefit-card-price">
                <div class="card-price">
                  <h5>Rp 500.000,-</h4>
                  <h4>Rp 250.000,-</h5>
                </div>
                <button class="btn btn-card-beli-kelas" type="button">
                  Beli Kelas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="./js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
