<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/listBenefit/listBenefit.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="section">
      <div class="container list-benefit">
        <h2 class="title">Bangun Karir Bersama <span>Ekselen.id</span></h2>
        <!-- Benefit -->
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="konten-benefit">
              <h3 class="konten-judul">Beragam Konten Pilihan</h3>
              <p class="konten-isi">
                Temukan <span>beragam pilihan konten</span> dan topik pelatihan
                serta <span>pembelajaran terbaik</span> , yang diajarkan oleh
                berbagai Lembaga serta <span>Trainer yang profesional</span>
              </p>
            </div>
          </div>
          <div class="col-5">
            <div class="konten-gambar">
              <img src="../assets/images/benefit1.png" alt="benefit 1" />
            </div>
          </div>
        </div>
        <!-- Benefit -->
        <div class="row justify-content-between">
          <div class="col-5">
            <div class="konten-gambar">
              <img src="../assets/images/benefit2.png" alt="benefit 1" />
            </div>
          </div>
          <div class="col-6">
            <div class="konten-benefit">
              <h3 class="konten-judul">Pelatihan Bersertifikat</h3>
              <p class="konten-isi">
                <span>Tersedia sertifikat</span> bagi Anda yang telah
                menyelesaikan pelatihan yang dapat diakses dengan mudah dan
                dapat digunakan sesuai kebutuhan Anda
              </p>
            </div>
          </div>
        </div>
        <!-- Benefit -->
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="konten-benefit">
              <h3 class="konten-judul">Career Ready Program</h3>
              <p class="konten-isi">
                Dapatkan akses <span>materi pelatihan yang sesuai</span> dengan
                kebutuhan dunia kerja saat ini untuk mendukung karir impian Anda
              </p>
            </div>
          </div>
          <div class="col-5">
            <div class="konten-gambar">
              <img src="../assets/images/benefit3.png" alt="benefit 1" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="./js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
